footer.page-footer {
	bottom: 0;
	color: #fff;
}

.font-small {
	font-size: .9rem;
}

.blue {
	background-color: #2196f3 !important;
}

.page-footer a {
	color: #FFFFFF;
}

footer.page-footer .footer-copyright {
	overflow: hidden;
	background: linear-gradient(to right, rgba(255, 0, 0, 0), rgba(2, 0, 0, 1));
	background-color: rgba(0, 0, 0, .6);
	color: rgba(255, 255, 255, .6);
}