html, body {
	margin: 0;
	padding: 0;
	height: 100%;
}

* {
	box-sizing: border-box;
	font-family: 'Comic Sans MS', "calibri", Garamond;
}

.fontstyle {
	font-family: "Open sans";
	font-weight: 300;
	font-size: 16px;
}

.center {
	text-align: center;
}

.underline {
	text-decoration: underline;
}

#container {
	min-height: 100%;
	position: relative;
}

#body {
	padding-bottom: 60px; /* Height of the footer */
}

#footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 60px; /* Height of the footer */
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 300;
}

.white {
	color: #FFFFFF;
}

.nav-bg {
	background: red; /* For browsers that do not support gradients */
	background: linear-gradient(to left, rgba(255, 0, 0, 0),
		rgba(2, 0, 0, 1));
}